/*
Grafika CSS
*/

.callout[data-callout="ai-analysis"] {
    --callout-color: 255, 142, 59;
    --callout-icon: bot;
    /* --callout-icon: bot-message-square; */
    /* --callout-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bot-message-square"><path d="M12 6V2H8"/><path d="m8 18-4 4V8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2Z"/><path d="M2 12h2"/><path d="M9 11v2"/><path d="M15 11v2"/><path d="M20 12h2"/></svg>'; */
}

/* 
FIXME: styles are not currently in use, due to the fact that 
the sandboxed iframe doesn't include them.
Potential solution: move every style to its corresponding graph API
as a text file, and set them the same way as the sandboxed scripts.
*/
*/
.vis-network-container {
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: visible;
    background: rgb(251, 250, 246);
    border: 2px solid black;
}

.chartjs-container {
    width: 700px;
    height: 700px;
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: visible;
    background: rgb(251, 250, 246);
    border: 2px solid black;
}

/* Due to some issues with echarts initialization,
container's size needs to be set in the echarts-js 
codeblock, e. g. something like:

var myChart = echarts.init(chartDom, null, {
	width: "700px",
	height: "700px",
});
*/
.echarts-container {
    display: flex; /* Container will adapt to inner echart */
    border: 2px solid black;
}

.vis-graph2d-container,
.vis-timeline-container {
    width: 700px;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: visible;
    background: rgb(251, 250, 246);
    border: 2px solid black;
}
